<div class="tool-bar-wrapper">
  <div>
    <span>My Note</span>
    <i href="javascript:;" class="glyphicon glyphicon-plus add-btn" (click)="onAddNote()"></i>
  </div>
  <div class="btn-group btn-group-justified">
    <div class="input-group search">
      <input class="form-control" (input)="onFilterNotes($event)" type="text" name="" value="" placeholder="输入搜索内容" />
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
  </div>
</div>
