<div class="list-wrapper">
  <div id="notes-list">
    <div id="list-header">
      <div class="app-note-toolbar"></div>
    </div>
    <!-- 渲染笔记列表 -->
    <div class="container">
      <div class="list-group">
        <a *ngFor="let note of notes" class="list-group-item" href="javascript:;" [class.active]="selectedNote === note" (click)="onSelected(note)">
          <h4 class="list-group-item-heading">
            {{note.title.trim().substring(0,30)}}
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>
